<div class="bg-white rounded-xl border border-black/8 px-4 py-4 flex flex-wrap items-end justify-between gap-3">
    <div class="flex flex-wrap items-end gap-3">
        <app-ui-input
        label="Buscar Novedad"
        placeholder="Buscar..."
        [(model)]="filters.buscar"
        (modelChange)="filtersChange.emit({...filters})"
        ></app-ui-input>

        <app-ui-select
        label="Tipo de novedad"
        [(model)]="filters.tipo"
        [options]="tipoOptions"
        (modelChange)="filtersChange.emit({...filters})"
        ></app-ui-select>

        <button
        (click)="limpiar()"
        class="px-8 py-2 border border-gray-200 text-sm font-medium rounded-lg hover:bg-gray-50 transition"
        >
        Limpiar
        </button>
    </div>

    <app-primary-btn (click)="nuevaNovedad.emit()">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
        </svg>
        Nueva Novedad
    </app-primary-btn>
</div>